{
  "extends": ["react-app", "prettier"],
  "plugins": ["eslint-plugin-tsdoc"],
  "rules": {
    "prefer-const": "warn",
    "no-var": "warn",
    "no-debugger": "warn",
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "@typescript-eslint/no-explicit-any": "error",
    "brace-style": "warn",
    "curly": ["warn", "all"]
  }
}
